*{
	margin: 0;
	padding: 0;
}

body{
	background-color: #fff;
	width: 100%;
}

.wrapper{
	margin: 1% auto;
	width: 90%;
	border-left: 5px dashed magenta;
	border-right: 5px dashed magenta;
	min-height: 95vh;
}

