@import url(http://allfont.ru/allfont.css?fonts=lcd2-bold);

*{
	margin: 0;
	padding: 0;
}

body{
	background-color: #fff;
	width: 100%;
}

.clear{
	clear: both;
}

.firstMainBlock{
	width: 100px;
	height: 100px;
	margin: 1%;
	background-color: aqua;
	border-radius: 10%;
}

.firstMainBlock p{
	text-align: center;
	padding-top: 25px;
}

.firstMainBlock p span{
	font-family: 'LCD2 Bold';
	color: red;
}

.newBlock{
	float: left;
	width: 100px;
	height: 100px;
	margin: 1%;
	background-color: pink;
	border-radius: 10%;
}



